<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <img src="Images/Verimoto.png" class="logo">

    @*Report header*@
    <h2 class="report-heading">ASSET <br> INSPECTION <br> REPORT</h2>

    @*Inspection Details*@
    @*<span class="lender-reference-content">lender reference:car-verimoto-2021-09-17-0012 <br> Inspection number:293847</span>*@
    <table>
        <tr>
            <td class="fitwidth fontnormal">Lender reference : </td>
            <td>car-verimoto-2021-09-17-0012</td>
        </tr>
        <tr>
            <td class="fitwidth fontnormal">Inspection number : </td>
            <td>293847</td>
        </tr>
    </table>
    <br />
    <div class="jumbotron">
        <h3><b>Inspection Details</b></h3>
        <hr>
        <table width="100%" cellspacing="0">
            <tr>
                <td class="fontnormal">Buyer First name</td>
                <td class="fontnormal">Buyer Last name</td>
                <td class="fontnormal">Buyer e-mail</td>
                <td class="fontnormal">Buyer Mobile</td>
            </tr>
            <tr>
                <td><b>John</b></td>
                <td><b>Doe</b></td>
                <td><b>john.doe@website.com</b></td>
                <td><b>0451 571 873</b></td>
            </tr>
        </table>
        <br>
        <br>
        <table width="100%" cellspacing="0">
            <tr>
                <td class="fontnormal">Seller First name</td>
                <td class="fontnormal">Seller Last name</td>
                <td class="fontnormal">Seller e-mail</td>
                <td class="fontnormal">Seller Mobile</td>
            </tr>
            <tr>
                <td><b>Dave</b></td>
                <td><b>Black</b></td>
                <td><b>dave.black@website.com</b></td>
                <td><b>0402 726 114</b></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <!-- Document Status -->
    <div class="jumbotron">
        <h3><b>Asset Inspected:Motor Vehicle</b></h3>
        <hr>
        <table class="row-space" width="100%" cellspacing="0">
            <tr>
                <td class="data-space" width="50%">
                    <div class="asset-card">
                        <h4 class="card-title asset-title">
                            Identity Verification <img src="images/success.png"
                                                       class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
                <td class="data-space" width="50%">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">
                            Vehicle Photos <img src="images/success.png" class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="data-space">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">Rego Papers <img src="images/success.png" class="status-icon"></h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
                <td class="data-space">
                    <div class="asset-card">
                        <h4 class="card-title asset-title">
                            Bank Statements <img src="images/success.png" class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="data-space">
                    <div class="asset-card-warning">
                        <h4 class="card-title asset-title">
                            RoadWorthy Certificate <img src="images/flag.png"
                                                        class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Bypassed by <span style="color:#f8c135;font-weight: 600;" class="fontbold">
                                Gus
                                Fernandes (Broker)
                            </span>
                        </p>
                    </div>
                </td>
                <td class="data-space">
                    <div class="asset-card-warning">
                        <h4 class="card-title asset-title">
                            Private Invoice Sale <img src="images/warning.png"
                                                      class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Flagged by <span style="color:#f8c135;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="data-space">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">Payout Letter <img src="images/success.png" class="status-icon"></h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
                <td class="data-space">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">
                            Renewal Notice <img src="images/success.png" class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="data-space">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">PPSR<img src="images/success.png" class="status-icon"></h4>
                        <p class="card-text asset-text fontnormal">Generated by <span style="color:#00d99e;font-weight: 600;" class="fontbold">AFSA</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
