<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h2 class="header-title" style="color: #2bb772;">
        Identity Verification
        <img src="images/success.png" class="header-title-icon">
    </h2>
    <div class="col-md-12 jumbotron">
        <h3><b>Document: Australian Driver’s License</b></h3>
        <hr>
        <table class="row-space" width="100%" cellspacing="0">
            <tr>
                <td class="fontnormal">First Name</td>
                <td class="fontnormal">Middle Name</td>
                <td class="fontnormal">Last Name</td>
            </tr>
            <tr>
                <td>Peter</td>
                <td>Ridland</td>
                <td>Hewett</td>
            </tr>
            <tr>
                <td class="fontnormal">Expiry Date</td>
                <td class="fontnormal">Data of Birth</td>
                <td class="fontnormal">Licence Number</td>
            </tr>
            <tr>
                <td>01/10/2024</td>
                <td>01/09/1991</td>
                <td>6619BB</td>
            </tr>
            <tr>
                <td class="fontnormal" colspan="2">Address</td>
                <td class="fontnormal">Owner of Vehicle</td>
            </tr>
            <tr>
                <td colspan="2">94 Smith Street, Parramata NSW, 2150</td>
                <td>Yes</td>
            </tr>
        </table>

        <br />

        <table class="row-space" width="100%" cellspacing="0">
            <tr>
                <td class="data-space" width="50%">
                    <div class="asset-card">
                        <h4 class="card-title asset-title">
                            Equifax Document Verification System <img src="images/success.png"
                                                                      class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
                <td class="data-space" width="50%">
                    <div class=" asset-card">
                        <h4 class="card-title asset-title">
                            Facial Recognition Confidence <img src="images/success.png" class="status-icon">
                        </h4>
                        <p class="card-text asset-text fontnormal">
                            Verified by <span style="color:#00d99e;font-weight: 600;" class="fontbold">
                                Verimoto
                                team
                            </span>
                        </p>
                    </div>
                </td>
            </tr>
        </table>

        <br />

        <table class="row-space" width="100%" cellspacing="0">
            <tr>
                <td class="data-space" width="50%">
                    <div class="asset-card">
                        <h5>Front side</h5>
                        <img src="./images/identity_bg.jpg" style="border-radius: 10px;width: 100%; height: 314px;">
                        <span class="img-location">Location: 94 Smith Street, Parramatta NSW, 2150, Aus at 01-04-2020 2:46 PM</span>
                    </div>
                </td>
                <td class="data-space" width="50%">
                    <div class="asset-card">
                        <h5>Back side</h5>
                        <img src="./images/identity_bg.jpg" style="border-radius: 10px; width: 100%; height: 314px;">
                        <span class="img-location">Location: 94 Smith Street, Parramatta NSW, 2150, Aus at 01-04-2020 2:46 PM</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="data-space" width="50%">
                    <div class="asset-card">
                        <h5>Selfie</h5>
                        <img src="./images/identity_bg.jpg" style="border-radius: 10px; width: 100%; height: 314px;">
                        <span class="img-location">Location: 94 Smith Street, Parramatta NSW, 2150, Aus at 01-04-2020 2:46 PM</span>
                    </div>
                </td>
            </tr>
        </table>


        
    </div>
</body>
</html>