<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verimoto</title>
    <link rel="nofollow" href="css/bootstrap.min.css" crossorigin="anonymous">
    <!--<link rel='nofollow' href="./css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> -->
    <!--<link rel='nofollow' href="./css/font.css" crossorigin="anonymous">-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
</head>
<body>
    <a class="navbar-brand" href="#">
        <img src="Images/Verimoto.png" class="logo">
    </a>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-md-5">
                <h2 class="report-heading">ASSET <br> INSPECTION <br> REPORT</h2>
                <span class="lender-reference-content">lender reference:car-verimoto-2021-09-17-0012 <br> Inspection number:293847</span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 jumbotron">
            <h3><b>Inspection Details</b></h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <span class="inspection-detail-title">Buyer First name</span>
                    <p class="inspection-detail-content">John</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Buyer Last name</span>
                    <p class="inspection-detail-content">Doe</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Buyer e-mail</span>
                    <p class="inspection-detail-content">john.doe@website.com</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Buyer Mobile</span>
                    <p class="inspection-detail-content">0451 571 873</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <span class="inspection-detail-title">Seller First name</span>
                    <p class="inspection-detail-content">Dave</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Seller Last name</span>
                    <p class="inspection-detail-content">Black</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Seller e-mail</span>
                    <p class="inspection-detail-content">dave.black@website.com</p>
                </div>
                <div class="col-md-3">
                    <span class="inspection-detail-title">Seller Mobile</span>
                    <p class="inspection-detail-content">0402 726 114</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
